{
  "env": {
    "test": {
      "plugins": [
        ["@babel/plugin-transform-react-jsx", { "pragma": "h" }]
      ],
      "presets": [
        "@ava/babel-preset-stage-4"
      ]
    },
    "development": {
      "plugins": [
        ["@babel/plugin-transform-react-jsx", { "pragma": "h" }]
      ]
    }
  }
}
